############################
# Go build
############################

# бинарники
*.exe
*.exe~
*.dll
*.so
*.dylib

# go build output
/bin/
/build/
/dist/

# go test
*.test
*.out

############################
# Go workspace
############################

go.work
go.work.sum

############################
# Go cache
############################

# иногда случайно коммитят
/pkg/
/vendor/

############################
# Fyne
############################

# иконки и ресурсы сборки
fyne-cross/
fyne-build/

############################
# Database
############################

*.db
*.sqlite
*.sqlite3

############################
# Backup storage
############################

backups/
storage/
data/

############################
# Logs
############################

*.log
logs/

############################
# Temporary
############################

tmp/
temp/
*.tmp

############################
# OS files
############################

.DS_Store
Thumbs.db

############################
# IDE
############################

# GoLand / IntelliJ
.idea/

# VSCode
.vscode/

############################
# Environment
############################

.env
.env.local
.env.*
.yaml

############################
# Coverage
############################

coverage.out
coverage.html